.crud-form {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: auto;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.requiredField {
  background-color: red;
  color: white;
  padding: 3px;
}
