<form class="col-7 p-3 crud-form">
  <h4>Create an article</h4>

  <!-- Title -->
  <div class="form-group">
    <label for="title">Title</label>
    <input [(ngModel)]="articleData.title" name="title" type="text" class="form-control" required>
  </div>

  <!-- Excerpt -->
  <div class="form-group">
    <label for="excerpt">Excerpt</label>
    <quill-editor [(ngModel)]="articleData.excerpt" name="excerpt" format="text"></quill-editor>
  </div>

  <!-- Post -->
  <div class="form-group">
    <label for="post">Post</label>
    <quill-editor [(ngModel)]="articleData.post" name="post" format="text"></quill-editor>
  </div>

  <!-- Create button -->
  <div class="form-group text-right">
    <button class="btn btn-outline-success" type="button" (click)="createArticle()">Create</button>
  </div>
</form>

<!-- If an error occurs, we'll show an error message -->
<div class="col-sm-12 alert alert-danger" *ngIf="error">
  <strong>Oops!</strong> An error occurred fetching data. Please try again.
</div>
