<form class="col-7 p-3 crud-form">
  <h4>Delete article</h4>

  <div class="form-group">
    <label class="sr-only" for="id">Id</label>
    <input [(ngModel)]="newsArticle.id" name="id" type="number" class="form-control-plaintext" placeholder="id" readonly>
  </div>

  <!-- Title -->
  <div class="form-group">
    <label class="sr-only" for="title">Title</label>
    <input [(ngModel)]="newsArticle.title" name="title" type="text" class="form-control" placeholder="title" readonly>
  </div>

  <!-- Excerpt -->
  <div class="form-group">
    <label class="sr-only" for="excerpt">Excerpt</label>
    <input [(ngModel)]="newsArticle.excerpt" name="excerpt" type="text" class="form-control" placeholder="excerpt" readonly>
  </div>

  <!-- Post -->
  <div class="form-group">
    <label class="sr-only" for="post">Post</label>
    <input [(ngModel)]="newsArticle.post" name="post" type="text" class="form-control" placeholder="post" readonly>
  </div>

  <!-- Delete button -->
  <div class="form-group text-right">
    <button class="btn btn-outline-danger" type="button" (click)="deleteArticle()">Delete</button>
  </div>
</form>

<!-- If an error occurs, we'll show an error message -->
<div class="col-sm-12 alert alert-danger" *ngIf="error">
  <strong>Oops!</strong> An error occurred fetching data. Please try again.
</div>
